<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>
<body>

<h1>Create New Account</h1>
<h3>Enter the following to create a new account</h3>
<form method="post">
    <label for ="username">Username:</label>
    <input type="text" name="username" placeholder="username"><br>
    <label for ="password">Password:</label>
    <input type="text" name="password" placeholder="password"><br>
    <label for ="name">Name:</label>
    <input type="text" name="name" placeholder="name"><br>
    <select id="roles" name="roles">
        <option value="user">user</option>
    <label for ="email">Email:</label>
    <input type="text" name="email" placeholder="email"><br>
    <label for ="address">Address:</label>
    <input type="text" name="address" placeholder="address"><br>
    <label for ="contact">Contact:</label>
    <input type="text" name="contact" placeholder="contact"><br>
    
    </select>
    <input type="submit">
    <a href="/">Cancel</a>
</form>

</body>
</html>