<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Brand</title>
</head>
<body>

<h2>Brand Details</h2>
<form method="post" action="/brand/new">
    <label for="name">Brand Name:</label>    
    <input type="text" name="Name" id="name" required><br/>
    <label for="description">Description:</label>
    <input type="text" name="Description" id="description" required><br/>

    <br/>
    
    <input type="submit" value="Add">
</form>

</body>
</html>