<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category Details</title>
</head>
<body>

<h2>Category Details</h2>
<form method="post" action="/category/update/{{.ID}}">
    <label for="name">Category Name:</label>    
    <input type="text" name="Name" id="name" value="{{.Name}}" required><br/>
    <label for="description">Description:</label>
    <input type="text" name="Description" id="description" value="{{.Description}}" required><br/>

    <br/>
    
    <input type="submit" value="Update">
</form>
<form method="post" action="/category/delete/{{.ID}}">
    <input type="submit" value="Delete">
</form>

</body>
</html>