<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category Management Page</title>
</head>
<body>
<h1>Categories</h1>

<table>
<tr>
    <td><h3>Name</h3></td>
    <td><h3>Description</h3></td>
</tr>
{{range .}} 
<tr>
    <td><a href="/category/{{.ID}}">{{.Name}}</a></td>
    <td>{{.Description}}</td>
</tr>
{{end}}
</table>

</body>
</html>