<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Product.Name}}</title>
</head>
<body>

<h2>Product Details</h2>

<p>Name: {{.Product.Name}}</p>
<p>Short Description: {{.Product.DescShort}}</p>
<p>Long Description: {{.Product.DescLong}}</p>
<p>Price: {{.Product.Price}}</p>
<p>Quantity: {{.Product.Quantity}}</p>
<p>Category: {{.CategoryName}}</p>
<p>Brand: {{.BrandName}}</p>

<form method="post" action="">
    <label  for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantityToBuy" min="1" max="{{.Product.Quantity}}" required><br>

    <input type="hidden" name="productid" value="{{.Product.ID}}"><br>
    <input type="hidden" name="productprice" value="{{.Product.Price}}"><br>  
    <input type="submit" value="Add To Cart">
    
</form>

</body>
</html>