<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Enquiry Confirmation</title>
</head>

<body>

{{template "userTopBanner"}}

    <p>Your enquiry has been received! We will get back to you shortly.</p>

    <form method="post" action="/">
        <input type="submit" value="Back to Homepage">
    </form>
</body>

{{template "userBottomBanner"}}

</html>