<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Error</title>
    
    {{template "FooterStyle"}}
</head>

<body>

    {{template "userTopBanner"}}

    <p>Oops, an error occured!</p>

    <p>{{.ErrorMessage}}</p>

    <form method="post" action="{{.RedirectLink}}">
        <input type="submit" value="{{.ButtonValue}}">
    </form>

</body>

{{template "userBottomBanner"}}

</html>