<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>

<body>
    <p>Oops, an error occured!</p>

    <p>{{.ErrorMessage}}</p>

    <form method="post" action="{{.RedirectLink}}">
        <input type="submit" value="{{.ButtonValue}}">
    </form>
</body>

</html>