<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoGreen</title>
</head>
<body>
<h1>All Products</h1>

<table>
<tr>
    <td><h3><a href="/?sortby=Name">Product Name</a></h3></td>
    <td><h3>Short Description</h3></td>
    <td><h3><a href="/?sortby=Price">Price</a></h3></td>
    <td><h3><a href="/?sortby=Quantity">Quantity</a></h3></td>
    <td><h3>Condition</h3></td>

</tr>
{{range .}} 
<tr>
    <td><a href="/{{.ID}}">{{.Name}}</a></td>
    <td>{{.DescShort}}</td>
    <td>{{.Price}}</td>
    <td>{{.Quantity}}</td>
    <td>{{.Condition}}</td>

</tr>
{{end}}

</table>

</body>
</html>