<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Order Confirmation</title>
    
    {{template "FooterStyle"}}
</head>

<body>

    {{template "userTopBanner"}}

    <p>Order Successful!</p>

    <form method="post" action="/">
        <input type="submit" value="Back to Homepage">
    </form>
</body>

{{template "userBottomBanner"}}

</html>