<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Order Confirmation</title>
</head>

<body>
    <p>Order Successful!</p>

    <form method="post" action="/">
        <input type="submit" value="Back to Homepage">
    </form>
</body>

</html>