<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Order Confirmation</title>
    
    {{template "userHead"}}
    {{template "style"}}
</head>

<body>

    {{template "userNav"}}

    <div class="body">
        <p>Order Successful!</p>
        <br>
        <form method="post" action="/">
            <input type="submit" value="Back to Homepage">
        </form>
    </div>
</body>

{{template "userFooter"}}

</html>