<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
</head>
<body>

<h2>Product Details</h2>
<form method="post">
    <p> Product Name: <input type="text" name="Name" placeholder="Product ABC" required>
    <p> Short Description: <input type="text" name="DescShort" placeholder="This is a product." required>
    <p> Long Description: <textarea name="DescLong" rows="4" cols="200"> Long description of Product </textarea>
    <p> Price: <input type="text" name="Price" placeholder="10" required>
    <p> Quantity: <input type="text" name="Quantity" placeholder="10" required>
    
    <p>
    Condition: <input type="radio" name="Condition" value="New" required>New
                <input type="radio" name="Condition" value="Used" required>Used
    
    <p>
    <label for="Categories">Categories:</label>
    <select name="CategoryID" id="CategoryID">
    {{range $index, $element := .Categories}} 
        <option value="{{$element.ID}}"> {{$element.Name}} </option>
    {{end}}
    </select>

    <p>
    <label for="Brands">Brand:</label>
    <select name="BrandID" id="BrandID">
    {{range $index, $element := .Brands}} 
        <option value="{{$element.ID}}"> {{$element.Name}} </option>
    {{end}}
    </select>

    <p>
    Status: 
    <select name="Status" id="Status">
        <option value="active"> Active </option>
        <option value="unlisted"> Delisted </option>
    </select>
    
    <p>
    <input type="submit" value="Submit">
</form>

</body>
</html>