{{define "userBottomBanner"}}

<div class="footer">
<table width="80%">
<tr>
<td width="25%"></td>
<td width="25%"></td>
<td width="25%"></td>
<td width="25%"><a href="/enquiry">Contact Us</a></td>
</tr>
</table>
</div>


{{end}}