{{define "userTopBanner"}}

<table width="80%">
<tr>
<td width="25%"><a href="/">Home</a></td>
<td width="25%"><a href="/user/cart">Shopping Cart</a></td>
<td width="25%"><a href="/user">Profile</a></td>
<td width="25%"><a href="/logout">Logout</a></td>
</tr>
</table>

{{end}}