<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Enquiry Confirmation</title>
    
    {{ template "userHeader" }}
    {{ template "style" }}
</head>

<body>

    {{ template "userNav" }}

    <div class="body">
        <p>Your enquiry has been received! We will get back to you shortly.</p>
    
        <form method="post" action="/">
            <input type="submit" class="btn btn-secondary btn-sm" value="Back to Homepage">
        </form>
    </div>
</body>

{{ template "userFooter" }}

</html>