{{ define "userFooter" }}

<footer class="p-5 text-center footer">
     <h3><a href="/enquiry">Contact Us</a></h3>

     <div class="footer-copyright text-center py-3">© 2021 Copyright:
          Done For GoSchool GoLive Project
     </div>
</footer>

{{ end }}